.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
launcher/.gradle
launcher/local.properties
launcher/.idea/workspace.xml
launcher/.idea/libraries
launcher/.DS_Store
launcher/build
launcher/app/build