<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stc.launchersetting" >
    <permission
        android:name="com.stc.launchersetting.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signatureOrSystem"
        android:label="permlab_read_settings"
        android:description="@string/hello_world"/>
    <provider android:name=".SettingProvider"
        android:authorities="com.stc.launchersetting.provider.SettingProvider">

    </provider>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UniversalSettingActivity"
            android:label="@string/app_name" >
        </activity>
    </application>
</manifest>
